.git
.gitignore
.vs
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
*.sqlite3
.DS_Store
*.db
.idea
misc.xml
modules.xml
vcs.xml
inspectionProfiles
vector_store_temp
ml_ssystem_design.png
README
.dockerignore
Dockerfile